/* LinkedIn */
html:not([data-nfe-enabled='false'])
	div[componentkey^='container-update-list_mainFeed']
	> div:not(#nfe-container) {
	display: none !important;
}

/* LinkedIn trending news section */
aside.scaffold-layout__aside > div:nth-child(2) {
	opacity: 0 !important;
	pointer-events: none !important;
	height: 0 !important;
}
