body {
	font-family: sans-serif;
	font-size: 1.4em;
	background: #f8e8dd;
	margin: 0;
	padding: 0;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

textarea,
input,
button {
	font-family: sans-serif;
	font-size: 1em;
	flex-grow: 1;
}

button {
	border: 1px solid #ccc;
	background-image: none;
	color: #00f;
	padding: 8px;
	background: #fafafa;
}
button:hover {
	background-color: #e7f0ff;
}

button:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

a {
	text-decoration-thickness: 3px;
}
a,
a:visited {
	color: #55f;
}

#options-container {
	display: flex;
	justify-content: center;
}

.nfe-info-panel {
	padding: 16px;
	width: 864px;
	min-height: 100vh;
}

.text-smaller-1 {
	font-size: 0.8em;
}
.text-larger-1 {
	font-size: 1.2em;
}
.text-muted {
	color: #aaa;
}
.text-strike {
	text-decoration: line-through;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.justify-right {
	justify-content: right;
}
.align-items-center {
	align-items: center;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}

.pad-0 {
	padding: 0;
}
.pad-1 {
	padding: 8px;
}
.pad-2 {
	padding: 16px;
}
.pad-3 {
	padding: 24px;
}

.border {
	border: 1px solid #ccc;
}
.width-100pc {
	width: 100%;
}

.v-stack > :not(:last-child) {
	margin-bottom: 8px;
}
.v-stack-2 > :not(:last-child) {
	margin-bottom: 16px;
}
.v-stack-4 > :not(:last-child) {
	margin-bottom: 32px;
}

.h-stack > :not(:last-child) {
	margin-right: 8px;
}
.h-stack-2 > :not(:last-child) {
	margin-right: 16px;
}

a.underline-off,
.underline-off:hover,
a.underline-hover {
	text-decoration: none;
}

a.underline-hover:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.col-bg-warn {
	background-color: #ffc;
}
.col-bg-err {
	background-color: #fcc;
}
.bg-active {
	background-color: #dae7ff;
}
.bg-active-light,
.bg-active-light-hover:hover {
	background-color: #e7f0ff;
}
.bg-1 {
	background-color: #fbfefb;
}
.bg-2 {
	background-color: #f8e8dd;
}
.bg-3 {
	background-color: #efe5dc;
}
.bg-3-hover:hover {
	background-color: #efe5dc;
}
.bg-4 {
	background-color: #d0b8ac;
}
.col-fg {
	color: black;
}
.strong {
	font-weight: bold;
}

.shadow {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.shadow-mid {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.scrollable-table th {
	top: 0;
	position: sticky;
	background: white;
}
.scrollable-table {
	display: block;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: auto;
}

input[type='checkbox'] {
	width: 24px;
	height: 24px;
}

.site-grid {
	display: grid;
	grid-template-columns: 1fr 260px;
	text-align: left;
}

.nfe-csv-or {
	margin-bottom: 4px;
}
