:root {
	font-family: sans-serif;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

hr {
	margin: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a         { text-decoration: none; color: var(--theme-accent); }
a:visited { text-decoration: none; color: var(--theme-accent); }

h1, h2, h3, h4, h5, h6, p {
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

hr {
	border: none;
	border-top: 1px solid var(--theme-border);
}

input, button, textarea, select {
  font: inherit;
}

button, .buttonlike {
	display: inline-block;
	color: var(--theme-figure);
	padding: 0.5em 1em;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

button.primary, .buttonlike.primary {
	border-radius: 4px;
	color: var(--theme-accent-figure);
	background-color: var(--theme-accent);
	border: 0;
}
button.primary:hover, .buttonlike.primary:hover {
	background-color: var(--theme-accent-a500);
}

button.secondary, .buttonlike.secondary {
	border-radius: 4px;
	border: 1px solid var(--theme-accent);
}
button.secondary:hover, .buttonlike.secondary:hover {
	background-color: var(--theme-accent-a200);
}
button.tertiary, buttonlike.tertiary {
	background-color: var(--theme-tertiary-button-bg);
	border-radius: 4px;
}
button.tertiary:hover, buttonlike.tertiary:hover {
	background-color: var(--theme-tertiary-button-hover-bg);
}

.block { display: block; }

.p-1 { padding: 4px }
.p-2 { padding: 8px; }
.p-4 { padding: 16px; }
.p-8 { padding: 32px; }

.px-2 { padding-left: 8px; padding-right: 8px; }
.px-4 { padding-left: 16px; padding-right: 16px; }

.py-1 { padding-top: 4px; padding-bottom: 4px; }
.py-2 { padding-top: 8px; padding-bottom: 8px; }
.py-4 { padding-top: 16px; padding-bottom: 16px; }

.pl-3 { padding-left: 12px; }
.pr-8 { padding-right: 32px; }

.bg-ground { background-color: var(--theme-ground); }
.bg-widget-ground { background-color: var(--theme-widget-ground); }

.bg-accent-a200	{ background-color: var(--theme-accent-a200); }
.bg-transparent { background-color: transparent; }
.bg-figure-100 { background-color: var(--theme-figure-100); }
.hover\:bg-figure-100:hover { background-color: var(--theme-figure-100); }

.hover\:bg-lighten-100:hover { background-color: var(--theme-lighten-100); }
.hover\:bg-darken-50:hover { background-color: var(--theme-darken-50); }
.bg-lighten-100 { background-color: var(--theme-lighten-100); }
.bg-darken-100 { background-color: var(--theme-darken-100); }

[aria-selected="true"] {
	background-color: var(--theme-default-selected-bg);
}
.hoverable:not([aria-selected="true"]):hover {
	background-color: var(--theme-default-hover-bg);
}

.font-xs { font-size: 14px; }
.font-sm { font-size: 16px; }
.font-md { font-size: 18px; }
.font-lg { font-size: 20px; }
.font-xl { font-size: 22px; }

.font-bold { font-weight: bold; }

.text-center { text-align: center; }
.text-accent { color: var(--theme-accent); }

.quote-border-left { border-left: 4px solid var(--theme-accent); }

.underline { text-decoration: underline; }
.hover\:underline:hover { text-decoration: underline; }

.user-select-none { user-select: none; }

.position-absolute { position: absolute; }
.position-relative { position: relative; }

.opacity-0 { opacity: 0; }

.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-col { flex-direction: column; }
.cross-center { align-items: center; }
.cross-end { align-items: flex-end; }
.axis-center { justify-content: center; }
.axis-end { justify-content: flex-end; }

.mw-lg {
	max-width: 960px;
}

.shadow { box-shadow: var(--theme-shadow); }

.card { background-color: var(--theme-lighten-100); }
.card.secondary { background-color: var(--theme-accent-a200); }
.card.primary { background-color: var(--theme-accent-a500); }
.card.outlined { border: 1px solid var(--theme-accent); }

.inset {
	background: var(--theme-inset-bg);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) inset;
}

.viewport-scroller {
	max-height: max(250px, calc(100vh - 600px));
	overflow-y: auto;
}

.w-full { width: 100%; }
.lr-0 { left: 0; right: 0; }

.b-0 { border: 0; }
.b-1 { border: 1px solid var(--theme-border); }
.b-3 { border: 3px solid var(--theme-border); }
.bl-1 { border-left: 1px solid var(--theme-border); }

.text-primary { color: var(--theme-text-primary); }
.text-secondary { color: var(--theme-text-secondary); }

.text-figure { color: var(--theme-figure); }
.text-figure-500 { color: var(--theme-figure-500); }

.space-y-1 > :not(:first-child) { margin-top: 4px; }
.space-y-2 > :not(:first-child) { margin-top: 8px; }
.space-y-4 > :not(:first-child) { margin-top: 16px; }

.space-x-1 > :not(:first-child) { margin-left: 4px; }
.space-x-2 > :not(:first-child) { margin-left: 8px; }
.gap-1 { gap: 4px; }
.gap-2 { gap: 8px; }

.cursor-pointer { cursor: pointer; }
.pointer-events-none { pointer-events: none; }
.pointer-events-all { pointer-events: all; }

nfe-tabs { isolation: isolate; display: block; }
nfe-tabs [role="tabpanel"] {
	position: relative;
	z-index: 1;
	border-radius: 4px;
	background-color: var(--theme-active-tab-bg);
}
nfe-tabs [role="tablist"] {
	display: flex;
	justify-content: center;
	gap: 8px;
}
nfe-tabs [role="tab"] {
	border-radius: 4px 4px 0 0;
	border-width: 1px 1px 0 1px;
	border-color: var(--theme-border);
	border-style: solid;
}
nfe-tabs [role="tab"][aria-selected="true"] { z-index: 2; background-color: var(--theme-active-tab-bg); }
nfe-tabs [role="tab"][aria-selected="false"] { z-index: 0; }

.checkbox {
	cursor: pointer;
	font-size: 1em;
	width: 1em;
	height: 1em;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0.1em solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    background-color: rgba(0, 0, 0, 0.1);
}
.checkbox:checked {
	border-color: rgb(50, 100, 50);
	color: white;
	background-color: var(--theme-accent);
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCIgdmlld0JveD0iMCAwIDEyOCAxMjgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yNCA2Nkw1MC41IDkyLjVMMTA3IDM2IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMTgiLz4KPC9zdmc+Cg==');
	background-size: contain;
}

.toggle {
	font-size: 1em;
    /*border: 0.1em solid rgba(0, 0, 0, 0.2);*/
    border: 0.1em solid var(--theme-border);
    border-radius: 0.75em;
    width: 2.2em;
    height: 1.2em;
    appearance: none;
    padding: 0.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: transform 0.07s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.toggle::after {
    content: "";
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    background: #fff;
    transition: transform 0.07s linear;
}

.toggle:checked {
    /*background-color: #5a5;*/
    background-color: var(--theme-accent);
    border-color: rgb(50, 100, 50)
}

.toggle:checked::after {
    transform: translateX(1em);
}

.toggle:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em var(--theme-accent-a500);
}
