:root {
	--theme-text-primary: white;
	--theme-text-secondary: #aaa;
	--theme-ground-100: rgba(0, 0, 0, 0.8);
	--theme-figure-100: rgba(255, 255, 255, 0.1);
	--theme-border: rgba(255, 255, 255, 0.15);
	--theme-accent: #77e;
}
