:root {
	--theme-text-primary: white;
	--theme-text-secondary: #aaa;
	--theme-ground: rgba(20, 19, 15, 1);
	--theme-widget-ground: rgba(0, 0, 0, 0.8);
	--theme-figure-100: rgba(255, 255, 255, 0.1);
	--theme-figure: rgba(255, 255, 255);
	--theme-figure-500: rgba(130, 130, 130);
	--theme-border: rgba(255, 255, 255, 0.15);
	--theme-accent: rgb(204, 119, 68);
	--theme-accent-a200: rgba(204, 119, 68, 0.2);
	--theme-accent-a500: rgba(204, 119, 68, 0.5);
	--theme-accent-figure: rgb(255, 255, 255);

	--theme-lighten-100: rgba(255, 255, 255, 0.05);
	--theme-darken-100: rgba(0, 0, 0, 0.1);
	--theme-darken-50: rgba(0, 0, 0, 0.01);

	--theme-active-tab-bg: rgb(225, 225, 215);
	--theme-inset-bg: rgb(220, 220, 210);

	--theme-default-hover-bg: var(--theme-lighten-100);
	--theme-default-selected-bg: var(--theme-accent-a200);
	--theme-tertiary-button-bg: rgba(255, 255, 200, 0.1);
	--theme-tertiary-button-hover-bg: rgba(255, 255, 200, 0.05);
}
