<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.css">

</head>
<body>
    {{ content }}
</body>
</html>
