---
layout: global
---

<nav class="navbar navbar-default site-navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">News Feed Eradicator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    {{ content }}

    <div class="footer row">
        &copy; 2013 <a href="//west.io/">Jordan West</a>. Available under the <a href="http://opensource.org/licenses/MIT"> MIT license </a>
    </div>
</div>